[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.14"
flake8-django = "*"
djangorestframework = "*"
python-decouple = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
jsonfield = "*"
ipfshttpclient = "*"
opencv-python = "*"
requests = "*"
django-filter = "*"
factory-boy = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.8"
