.otpContainer {
  margin: 5% auto;
  display: flex;
  justify-content: center;
}

.otpInput {
  width: 3rem !important;
  height: 3rem;
  margin: 0 0.3rem;
  font-size: 2rem;
  text-align: center;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 600px) {
  .otpInput {
    width: 2.4rem !important;
    height: 2.4rem;
    margin: 0 0.3rem;
    font-size: 1.5rem;
  }
}
