.product-image {
  max-width: 400px;
  max-height: 500px;
  border: 2px solid #e5e5e5;
}
.nav-button {
  background-color: 'transparent';
  height: 55px;
  margin-top: 0px;
  width: max-content;
  border-radius: 5px !important;
  color: white;
  border: 0.5px solid #61c97d;
}
.nav-button-text {
  font-family: 'PT Sans', sans-serif !important;
  color: #61c97d !important;
}

.table_row {
  border-bottom: 1px solid #e5e5e5;
}

.table_row:hover {
  background-color: #f5f5f5;
}

.dialog {
  width: 700px;
  margin: auto;
  overflow-x: hidden !important;
  color: white !important;
}

.dialog-input {
  color: white !important;
}

@media (max-width: 500px) {
  .dialog {
    width: 400px;
    margin: auto;
  }
}

@media (max-width: 400px) {
  .dialog {
    width: 370px;
    margin: auto;
  }

  .dialog-btns {
    width: 240px;
    margin: auto;
    padding: 0px !important;
  }
}
